body{
    background-image: url(img/fondobebidas.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.maincontainer{
    background-color: #ffffff;
    width: 530px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 0px;
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
}
.headercontainer{
    background-color: #424242;
    width: 100%;
    height: 12%;
    border: solid 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position:relative;
}
.titulologin{
    /* background-color: red; */
    position: absolute;
    width: 35%;
    height: 55%;
    color: #f5f5f5
    ;
    margin-top: -1%;
    margin-left: 2%;
}
.txtiniciasesionoregistrate{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.diviniciasesion{
    width: 40%;
    height: 12%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
}
.txtiniciasesion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: #545454;
}
.forminicio{
    width: 45%;
    height: 37%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.enviariniciodesesion{
    width:45%;
    height: 42%;
    /* background-color: blue; */
    margin-left: auto;
    margin-right: auto;

}
.inputnombre{
    border: solid black 1px;
    border-radius: 7px;
    height: 35px;
    width: 100%;
}
.inputcontraseña{
    border: solid black 1px;
    border-radius: 7px;
    height: 35px;
    width: 100%;
}
input::placeholder{
    font-size: large;
}
.btniniciodesesion{
    border: solid transparent 1px;
    border-radius: 7px;
    height: 35px;
    width: 106%;
    color: #f8fbfe;
    background-color: #0079d8;
    font-size:large;
    margin-top: 2px;
}
:hover.btniniciodesesion{
    border: solid #0079d8 1px;
    height: 36px;
    width: 107%;
}
.divlinkregistro{
    height:12%;
    width: 25%;
    /* background-color: rgb(131, 131, 131); */
    margin-left: 75%;
    margin-top: 5%;
}
.linkregistro{
    color: #13829d;
}