<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilobebida.css">
    <title>Detalle de la Bebida</title>
</head>
<body>
    <div>
        <table id="tablaEntera">
            <tr>
                <td colspan="2" id="cabecera">Long Island</td>
            </tr>
            <tr>
                <td colspan="2" id="tituloBebida">
                    <a href="http://127.0.0.1:5000/menu"><img id="logoCasa" src="static/img/casa.png" alt="home" title="ir al inicio"></a>
                    <strong> Iceland Island</strong> 
                    <img id="logoAgregar" src="static/img/mas.png" alt="agregar a lista de deseos" title="agregar a lista de deseos">

                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <img id="imgBebida" src="static/img/long_iceland.png" alt="img long iceland" >
                    </div>
                    <span class="reacciones">
                        <img src="static/img/corazon.png" alt="me gusta" title="me gusta" id="logoMeGusta">
                    </span>
                    <span class="reacciones">
                        <a href="http://127.0.0.1:5000/pedidos">  <input type="button" value="Pedir Ahora" id="btnPedido" ></a>
                    </span>
                </td>
                <td class="descripcion">
                    <div>
                        <p>
                            es un tipo de bebida alcohólica mezclada hecha típicamente <br/>
                            con, entre otros, vodka, ron blanco, triple seco, y ginebra.​<br/>
                            Se llama así debido a su parecido con el<br/>
                            color y el sabor del Té helado<br/> 
                        </p>
                    </div>
                    <div>
                        <table id="lista">
                            <tr>
                                <td>
                                    <img id="logoPerfil" src="static/img/circulo.jpg" alt="logo perfil">

                                </td>
                                <td>
                                    <dl>
                                        <dt><b>Juan Carlos Herrero</b></dt>
                                        <dd>Lorem ipsum dolor sit amet consectur adipiscing</dd>
                                    </dl>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img id="logoPerfil" src="static/img/circulo.jpg" alt="logo perfil">

                                </td>
                                <td>
                                    <dl>
                                        <dt><b>Laura Diaz</b></dt>
                                        <dd>Lorem ipsum dolor sit amet consectur adipiscing</dd>
                                    </dl>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img id="logoPerfil" src="static/img/circulo.jpg" alt="logo perfil">

                                </td>
                                <td>
                                    <dl>
                                        <dt><b>Camilo Hernandez</b></dt>
                                        <dd>Lorem ipsum dolor sit amet consectur adipiscing</dd>
                                    </dl>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="envioDatos">
                                        <input type="text" name="comentario" id="comentario" placeholder="Comentanos...">
                                        <input type="submit" name="envComent" id="envComent" value="Enviar Comentario">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>

            </tr>
        </table>
    </div>
</body>
</html>