<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilobusqueda.css">
    <title>Resultado de Busquedas</title>
</head>
<body>
    <div class="centrar">
        <table class="tabla">
            <tr id="buscandoCabecero" >
                <td> Buscando... <img id="logoLupaCabecero" src="static/img/lupa.png" alt="logo lupa"></td>
            </tr>

            <tr id="segundoTr">
            <td>
                <div class="borde_exterior">
                    <p>
                        Los siguientes resultados han<br/>
                        coincidido con lo que<br/>
                        buscabas
                    </p>
                    
                    <table class="lista">
                        <tr>
                            <td> <img class="logoBebidas" src="static/img/circulo.jpg" alt="img bebida"> </td>  
                            <td>blue Sky</td>  
                        </tr>
                        <tr>
                            <td> <img class="logoBebidas" src="static/img/circulo.jpg" alt="img bebida"> </td>
                            <td>Lassi</td>
                        </tr>
                        <tr>
                            <td> <img class="logoBebidas" src="static/img/circulo.jpg" alt="img bebida"> </td>
                            <td>Mai Thai</td>
                        </tr>
                        <tr>
                            <td> <img class="logoBebidas" src="static/img/circulo.jpg" alt="img bebida"> </td>
                            <td>Mojito</td>
                        </tr>
                        <tr>
                            <td> <img class="logoBebidas" src="static/img/circulo.jpg" alt="img bebida"> </td>
                            <td>Rusty Nail</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>