<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\estiloseliminarbebidas.css">
    <title>Biggby Coffee</title>
</head>
<body>
    <div class="maincontainer">
        <div class="headercontainer">
            <div class="tituloagregarbebidas">
                <p class="txtheaderborrarcliente">Eliminar</p>
                <div class="divimgheaderperfil">
                    <img src="static/img/miperfil.png" alt="F por la imagen" class="iconomiperfil">
                </div>
            </div>
        </div>
        <div class="divagregaunabebida"><p class="txtagregaunabebida">Eliminar bebida</p></div>
        <div class="datoscontainer">
            <form name="formeliminarbebidas" action="/eliminarbebidas" method="post">
                <input type="text" name="id" placeholder="Introduce un Id" class="inputnombre" required/>
                <br>
                <br>
                <input type="submit" name="iniciar" value="Eliminar" class="btniniciodesesion">
            </form>
        </div>
    </div>
    <div class="home"><a href="http://127.0.0.1:5000/menu"><img src="static/img/home.png" alt="F por la imagen" class="imghome"></a></div>
    
</body>
</html>