<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilogestionbebidas.css">
    <title>SuperAdministrador (root)</title>
</head>
<body>
    <div class="divCentral">
        <div class="home"><a href="http://127.0.0.1:5000/menu"><img src="static/img/home.png" alt="F por la imagen" class="imghome"></a></div>
        <table id="tablaExterior">
            <tr>
                <td  id="cabecero">Bebidas <a href="http://127.0.0.1:5000/agregarbebidas"><img id="logoAgregar" src="static/img/copa.png" alt="agregar bebida" title="agregar"></a> </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <table id="tablaBebidas">
                            <tr>
                                <td class="celdaLogo"> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Long Island</td>
                                <td>
                                    <a href="http://127.0.0.1:5000/eliminarb"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                    <!-- <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar"> -->
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Blue Sky</td>
                                <td>
                                    <a href="http://127.0.0.1:5000/eliminarb"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                    <!-- <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar"> -->
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Lassi</td>
                                <td>
                                    <a href="http://127.0.0.1:5000/eliminarb"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                    <!-- <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar"> -->
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Mai Thai</td>
                                <td>
                                    <a href="http://127.0.0.1:5000/eliminarb"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                    <!-- <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar"> -->
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Mojito</td>
                                <td>
                                    <a href="http://127.0.0.1:5000/eliminarb"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                    <!-- <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar"> -->
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Rusty Nail</td>
                                <td>
                                    <a href="http://127.0.0.1:5000/eliminarb"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                    <!-- <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar"> -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div class="usuarios"><a href="http://127.0.0.1:5000/usuarios"><img src="static/img/iconolinkusuario.png" alt="F por la imagen" class="imgusuarios"></a></div>
    </div>
</body>
</html>