<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilogestionbebidas.css">
    <title>SuperAdministrador (root)</title>
</head>
<body>
    <div class="divCentral">
        <table id="tablaExterior">
            <tr>
                <td  id="cabecero">Lista de Deseos</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <table id="tablaBebidas">
                            <tr>
                                <td class="celdaLogo"> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Long Island</td>
                                <td>
                                    <a href="http://google.com"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Blue Sky</td>
                                <td>
                                    <a href="http://google.com"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Lassi</td>
                                <td>
                                    <a href="http://google.com"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Mai Thai</td>
                                <td>
                                    <a href="http://google.com"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Mojito</td>
                                <td>
                                    <a href="http://google.com"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Rusty Nail</td>
                                <td>
                                    <a href="http://google.com"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>