<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estiloslistadebebidas.css">
    <title>SuperAdministrador (root)</title>
</head>
<body>
    <div class="divCentral">
        <div class="home"><a href="http://127.0.0.1:5000/menu"><img src="static/img/home.png" alt="F por la imagen" class="imghome"></a></div>
        <table id="tablaExterior">
            <tr>
                <td  id="cabecero">Lista de Bebidas<a href="http://127.0.0.1:5000/agregarbebidas"><img id="logoAgregar" src="static/img/copa.png" alt="agregar bebida" title="agregar"></a> </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <table id="tablaBebidas">
                            {% for row in rows %}
                                <tr>
                                    <td class="celdaLogo"> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                    <td>{{row["nombre"]}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>