
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\estilomenu.css">
    <title>Biggby Coffee</title>
</head>
<body>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>


    <!-- <div class="home"><a href="http://127.0.0.1:5000/login"><img src="static/img/home.png" alt="F por la imagen" class="imghome"></a></div> -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          ¿Buscas algo en especial?
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/bebida">Lassi</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/bebida">Mojito</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/bebida">Blue Sky</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/bebida">Rusty Nail</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/bebida">Mai Thai</a></li>
        </ul>
    </div>
    <div class="maincontenedor">
        <a href="http://127.0.0.1:5000/bebida" class="sinunderline">
            <div class="infoproducto1">
                <div class="infoproducto1titulo">
                    <p><I>Lassi</I></p>
                </div>
                <div class="infoproducto1descripcion">
                    <p class="txtdescripcionproducto1">El Lassi es una bebida fría tradicional de la india hecha a base de yogurt con un gran poder refrescante que incluye mango papaya y platano.</p>
                </div>
                <img src="static/img/comentarios.png" alt="F por la imagen" class="iconocomentarios">
            </div>
        </a>
        <a href="http://127.0.0.1:5000/bebida" class="sinunderline">
            <div class="imgproducto1">
                <img src="static/img/Lassi.jpg" alt="F por la imagen" class="imgproducto1imagen">
                <div class="imgproducto1titulo">
                    <p><i>Lassi</i></p>
                </div>
            </div>
        </a>
        <a href="http://127.0.0.1:5000/bebida" class="sinunderline">
            <div class="infoproducto2">
                <div class="infoproducto1titulo">
                    <p><I>Mojito</I></p>
                </div>
                <div class="infoproducto1descripcion">
                    <p class="txtdescripcionproducto1">Bebida originaria de Cuba preparada con ron, zumo de limón, agua, hielo y azucar, adornada con una rama de hierbabuena.</p>
                </div>
                <img src="static/img/comentarios.png" alt="F por la imagen" class="iconocomentarios">
            </div>
        </a>

        <a href="http://127.0.0.1:5000/bebida" class="sinunderline">
            <div class="imginfoproducto3">
                <img src="static/img/bluesky.jpg" alt="F por la imagen" class="imgproducto3imagen">
                <div class="infoproducto3titulo">
                    <p><i>Blue sky</i></p>
                </div>
                <div class="infoproducto3descripcion">
                    <p class="txtdescripcionproducto1"><i>Cocktail compuesto por una parte de zubrówka, una parte de Vodka Grey Goose vainilla, una parte de licor de manzana, una parte de curacao azul y 4 partes de Ginebra Bombay Sapphire.</i></p>
                </div>
            </div>
        </a>
        <a href="http://127.0.0.1:5000/bebida" class="sinunderline">
            <div class="imginfoproducto4">
                <img src="static/img/maithai.jpg" alt="F por la imagen" class="imgproducto4imagen">
                <div class="infoproducto4titulo">
                    <p><i>Mai Tai</i></p>
                </div>
                <div class="infoproducto4descripcion">
                    <p class="txtdescripcionproducto1"><i>Bebida preparada con ron oscuro, que se mezcla con jugo de naranja y piña, los que se encargan de darle los tonos cítricos y frutales suaves. Acompañada de jarabe natural de azucar al gusto y un poco de licor Chabacano.</i></p>
                </div>
            </div>
        </a>

        <a href="http://127.0.0.1:5000/bebida" class="sinunderline">
            <div class="imgproducto2">
                <img src="static/img/mojito.jpg" alt="F por la imagen" class="imgproducto1imagen">
                <div class="imgproducto1titulo">
                    <p><i>Mojito</i></p>
                </div>
            </div>
        </a>
        <a href="http://127.0.0.1:5000/bebida" class="sinunderline">
            <div class="imgproducto5">
                <img src="static/img/rustynail.jpg" alt="F por la imagen" class="imgproducto1imagen">
                <div class="imgproducto5titulo">
                    <p><i>Rusty Nail</i></p>
                </div>
            </div>
        </a>
    </div>
    <a href="http://127.0.0.1:5000/miperfil"><img src="static/img/iconolinkusuario.png" alt="F por la imagen" class="imgmiperfil"></a>
</body>
</html>