<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\estilosmiperfil.css">
    <title>Biggby Coffee</title>
</head>
<body>
    <div class="maincontainer">
        <div class="headercontainer">
            <div class="titulomiperfil">
                <p class="txtheaderperfil">Mi perfil</p>
                <div class="divimgheaderperfil">
                    <img src="static/img/miperfil.png" alt="F por la imagen" class="iconomiperfil">
                </div>
            </div>
        </div>
        <div class="divbienvenida"><p class="txtbienvenida">Bienvenido a tu perfil</p></div>
        <div class="datoscontainer">
            <div class="txtnombre">
                <p class="txtinfousuario">Nombre:</p>
            </div>
            <div class="nombre">
                <p class="txtinfousuario">Miguel Angel Carvajal Ruiz</p>
            </div>
            <div class="txtcorreo">
                <p class="txtinfousuario">Correo:</p>
            </div>
            <div class="correo">
                <p class="txtinfousuario">mcarvajala@uninorte.edu.co</p>
            </div>
            <div class="txtdireccion">
                <p class="txtinfousuario">Direccion:</p>
            </div>
            <div class="direccion">
                <p class="txtinfousuario">Cra 3 #31-46</p>
            </div>
            <div class="txttelefono">
                <p class="txtinfousuario">Telefono:</p>
            </div>
            <div class="telefono">
                <p class="txtinfousuario">4285720582</p>
            </div>
        </div>
        <div class="listadedeseos"><a href="http://127.0.0.1:5000/listadedeseos"><p class="txtlinklistadedeseos">Lista de deseos</p></a></div>
    </div>
    <div class="home"><a href="http://127.0.0.1:5000/menu"><img src="static/img/home.png" alt="F por la imagen" class="imghome"></a></div>
    
</body>
</html>