<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\estilopedidos.css">
    <title>Biggby Coffee</title>
</head>
<body>
    <div class="maincontainer">
        <div class="headercontainer">
            <div class="titulologin">
                <p class="txtheaderpedido">Tu pedido</p>
                <div class="divimgheaderpedido">
                    <img src="static/img/imgregalo.jpg" alt="F por la imagen">
                </div>
            </div>
        </div>
        <div class="divsolicitado"><p class="txtsolicitado">Has Solicitado:</p></div>
            <div class="datosdepedido">
                <div class="nombreproducto">
                    <div class="divimgproducto">
                        <img src="static/img/bluesky.jpg" alt="BlueSky" class="imgproducto">
                    </div>
                    <div class="divnombreproducto"><p>Blue Sky</p></div>
                </div>
                <div class="datosusuario">
                    <p>No te preocupes Miguel Angel Carvajal, tu pedido llegará en unos minutos a tu direccion de residencia Cra 3 #24-25</p>
                    <p>De ocurrir algún inconveniente te contactaremos al número 3542474268</p>
                </div>
                <div class="divcontactanos">Dudas? Contáctanos: 2933583384</div>
            </div>
        </div>
    </div>
    <div class="home"><a href="http://127.0.0.1:5000/menu"><img src="static/img/home.png" alt="F por la imagen" class="imghome"></a></div>
    
</body>
</html>