<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\estiloregistro.css">
    <script src="static\registro.js"></script>
    <title>Biggby Coffee</title>
</head>
<body>

    <div class="maincontainer">
        <div class="headercontainer">
            <div class="titulologin"><p class="txtheaderregistrate">Registrate</p></div>
        </div>
        <div class="divregistrate"><p class="txtregistrate">Registrate</p></div>
        <div class="forminicio">
            <form name="formregistro" action="/savedetails" method="post">
                <input type="text" name="name" placeholder="Nombre" class="inputnombre" required/>
                <br>
                <br>
                <input type="password" name="contraseña" placeholder="Contraseña" class="inputcontraseña" onchange="return validar(this)" required/>
                <br>
                <br>
                <input type="text" name="address" placeholder="Direccion" class="inputapellido" required/>
                <br>
                <br>
                <input type="submit" name="iniciar" class="btniniciodesesion"/>
            </form>
        </div>
    </div>
    
</body>
</html>