<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilousuarios.css">
    <title>SuperAdministrador (root)</title>
</head>
<body>
    <div class="home"><a href="http://127.0.0.1:5000/menu"><img src="static/img/home.png" alt="F por la imagen" class="imghome"></a></div>
    <div class="divCentral">
        <table id="tablaExterior">
            <tr>
                <td  id="cabecero">Usuarios <a href="http://127.0.0.1:5000/registro"><img id="logoAgregar" src="static/img/usuario.png" alt="agregar usuario" title="agregar"></a> </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <table id="tablaBebidas" >
                            {% for row in rows %}  
      
                                <tr> 
                                    <td class="celdaLogo"> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                    <td>{{row["id"]}}</td>  
                                    <td>{{row["name"]}}</td>  
                                    <td>{{row["tipo_usuario"]}}</td>
                                    <td><a href="http://127.0.0.1:5000/eliminaru"><img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar"></a></td>
                                </tr>  
                            
                            {% endfor %}
                            <!-- <tr>
                                <td class="celdaLogo"> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Marcos Antonio Agudelo</td>
                                <td>
                                    <img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar">
                                    <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar">
                                </td>
                            </tr> -->
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>