<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilousuarios.css">
    <title>SuperAdministrador (root)</title>
</head>
<body>
    <div class="divCentral">
        <table id="tablaExterior">
            <tr>
                <td  id="cabecero">Usuarios <img id="logoAgregar" src="static/img/usuario.png" alt="agregar usuario" title="agregar"> </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <table id="tablaBebidas">
                            <tr>
                                <td class="celdaLogo"> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Marcos Antonio Agudelo</td>
                                <td>
                                    <img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar">
                                    <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar">
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Luisa Fernanda Paz</td>
                                <td>
                                    <img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar">
                                    <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar">
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Luis Alejandro Mejia</td>
                                <td>
                                    <img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar">
                                    <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar">
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Ana Maria Zuñiga</td>
                                <td>
                                    <img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar">
                                    <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar">
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Victor Espinoza Apablaza</td>
                                <td>
                                    <img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar">
                                    <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar">
                                </td>
                            </tr>

                            <tr>
                                <td> <img id="logoBebida" src="static/img/circulo.jpg" alt="logo bebidas"> </td>
                                <td>Caterine Ibarguen Mena</td>
                                <td>
                                    <img id="logoEliminar" src="static/img/basura.png" alt="eliminar" title="eliminar">
                                    <img id="logoEditar" src="static/img/lapiz.png" alt="editar" title="editar">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>